#LogoAndSearch div{
    display: inline-block;
}
#LogoAndSearch{
    height: 300px;
}
#Logo{
    width: 300px;
    height: 220px;
    /* background-color: green; */
    margin-top: 15px;
    float: left;
}
#Logo img {
    width: 300px;
    height: 220px;
}
#Katalog{
    margin-top: 15px;
    margin-left: 15px;
    width: 220px;
    height: 220px;
    float: left;
}
#KatalogButton{
    height: 220px;
}
#KatalogButton input{
    margin-top: 65px;
    width: 220px;
    height: 100px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-size: 35px;
    font-weight: bold;
    border: none;
}
#KatalogButton input:hover{
    color:black;
    border: 3px solid black;
}
#Search{
    margin-top: 15px;
    margin-left: 15px;
    width: 950px;
    height: 220px;
}
#SearchButton{
    height: 220px;
    position: relative;
}
#SearchButton input{
    margin-top: 65px;
    width: 950px;
    height: 100px;
    border-radius: 20px;
    font-size: 35px;
    font-weight: bold;
    border: none;
    white-space: nowrap;
    color: black;
}
#SearchButton input#search::-webkit-input-placeholder {
    padding-left: 15px;
}



