#LogoAndSearch div{
    display: inline-block;
}
#LogoAndSearch{
    height: 300px;
}
#Logo{
    width: 300px;
    height: 220px;
    /* background-color: green; */
    margin-top: 15px;
    float: left;
}
#Logo img {
    width: 300px;
    height: 220px;
}
#Katalog{
    margin-top: 15px;
    margin-left: 15px;
    width: 220px;
    height: 220px;
    float: left;
}
#KatalogButton nav{
    height: 220px;
}
#KatalogButton nav {
    margin-top: 65px;
    width: 220px;
    height: 100px;
    border-radius: 20px;
    background-color: red;
    border: none;
}
#KatalogButton nav li>a{
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}
#Search{
    margin-top: 15px;
    margin-left: 15px;
    width: 950px;
    height: 220px;
}
#SearchButton{
    height: 220px;
    position: relative;
}
#SearchButton input{
    margin-top: 65px;
    width: 950px;
    height: 100px;
    border-radius: 20px;
    font-size: 35px;
    font-weight: bold;
    border: none;
    white-space: nowrap;
    color: black;
}
#SearchButton input#search::-webkit-input-placeholder {
    padding-left: 15px;
}

.nav ul {
/*  
    background-color: red;
    color: white;
    font-size: 35px;
    font-weight: bold; */
    width: 220px;
    height: 100px;
    border: none;
    margin:0;
    padding:0;
    list-style-type:none;
    text-align: center; 
}
.nav>ul>li:hover{
    color:black;
    border: 3px solid black;
    border-radius: 20px;
}
.nav>ul>li {
    float:left;
    width: 215px;
    height: 95px;
    position: relative;
    border-radius: 20px;
    text-align: center; 
    line-height: 2.5;
}
.nav ul ul a {
    display: block;
    padding: 0px;
    text-decoration: none;
}
.nav li .second {
        display: none;
        position: absolute;
        top: 100%;
        left:0;
        
}
.nav li:hover .second{
    display: block;
}
.nav li li {
    width: 220px;
}
.second li a {
    margin-top: 5px;
    background-color: red;
    border-radius: 15px;
}
nav a{
    color: white;
}
nav>li{
    text-align: center;
    line-height: 50%;
}
.second li a:hover{
    color: black;
}
